.fw_bold {
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 700;
}
.fw_medium {
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 500;
}
.fw_number {
  font-family: 'Baloo Tamma 2', cursive;
  font-weight: 400;
}
.fw_number-semi {
  font-family: 'Baloo Tamma 2', cursive;
  font-weight: 600;
}
.fw_number-bold {
  font-family: 'Baloo Tamma 2', cursive;
  font-weight: 700;
}


.icon-hover-danger:hover {
  .fas,.fab,.far {
    color: $danger;
  }
}

.icon-hover-warning:hover {
  .fas,.fab,.far {
    color: $warning;
  }
}

.letter-spacing-1 {
  letter-spacing: .61px;
  @media(min-width: 992px){
    letter-spacing: .7px;
  }
}
.letter-spacing-2 {
  letter-spacing: 1.6px;
  @media(min-width: 992px){
    letter-spacing: 1.92px;
  }
}
.letter-spacing-3 {
  letter-spacing: 1.75px;
  @media(min-width: 992px){
    letter-spacing: 2px;
  }
}
.letter-spacing-4 {
  letter-spacing: 2.25px;
  @media(min-width: 992px){
    letter-spacing: 3px;
  }
}

.radius-1 {
  border-radius: 4px;
}
.radius-2 {
  border-radius: 8px;
}

.z-10 {
  z-index: 10;
}
.z-999 {
  z-index: 999;
}
