// header
.header_collapse {
  &:focus {
    color: $warning;
  }
}
.header-listIcon {
  font-size: 32px;
  color: $lightGray;
  &:hover {
    color: $warning;
  }
}

// footer
.footer {
  p {
    font-size: 14px;
    letter-spacing: 0.2px;
  }
  @media(min-width: 992px){
    p {
      font-size: 16px;
      letter-spacing: 0.18px;
    };
  }
}
